<section class="section">
    <div class="container">
        <h1 class="title">Register</h1>
        <form method="POST">
            <div class="field">
                <input class="input" name="name" required placeholder="Name">
            </div>
            <div class="field">
                <input class="input" type="email" name="email"  placeholder="Email">
            </div>
            <div class="field">
                <input class="input" type="password" name="password" required placeholder="Password">
            </div>
            <input name="_csrf" type="hidden" value="{{csrfToken}}">
            <hr>
            <button class="button" type="submit">Proceed</button>
        </form>
        <br>
        <a href="/login">Login instead</a>
    </div>
</section>