<div id="dashboardDisplay">
    <div class="box">
        <div class="heading" title="Accounts that were online in the last 30 days">Active users</div>
        <div class="title">
            <span id="totalActiveUsersField"></span>
            <span id="totalActiveUsersDiffFieldTag" class="tag is-light"><span id="totalActiveUsersDiffField"></span>
            </span>
        </div>
        <div class="level">
            <div class="level-item">
                <div class="">
                    <div class="heading" title="Accounts that were created in the last 4 days">New sign ups</div>
                    <div class="title is-5">
                        <span id="newUserField"></span>
                    </div>
                </div>
            </div>
            <div class="level-item">
                <div class="">
                    <div class="heading">Total Users</div>
                    <div class="title is-5">
                        <span id="totalUsersField"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
